* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-size: 18px;
    /* margin: 3% 10% 0 10%; */
    font-family: Rubik;
}
header, .section3, .section4 {
    margin: 3% 10% 0 10%;
}
header {                                       /* parent-container HEADER*/
display: flex;
}
#bookmarkLogo {
width: 80%;
}
p {
    color: darkgrey;
}
.nav1 a {
    text-decoration: none;
    color: black;
    margin: 3%;
}
.nav1 {
   justify-content: flex-end;
   width: 50%;
}
#div1Button1, .moreInfo, .install {
    background-color:  hsl(231, 69%, 60%);
    font-weight: 600;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
}
#div1Button2 a {
    text-decoration: none;
    color: darkslategrey;
}
#div1Button1, #div1Button2 {
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
}
#div1Button2 {
    background-color: whitesmoke;
    font-weight: 600;
}
.section1 {                            /*parent-container SECTION1*/
display: flex;
padding-top: 8%;
justify-content: space-between;
margin: 3% 0 0 10%;
}
.div1Section1 {
    width: 34%;
}
.div1Section1 h1 {
    font-size: 35px;
    padding: 15px;
}
p, h2 {
    padding: 15px;
}
.div2Section1 {
    position: relative;

}
#bookmarkImage {
    position: relative;
    width: auto;
    height: auto;
    right: 10%;
    z-index: 1;
}
.imageShadow1 {
    background-color:  hsl(231, 69%, 60%);
    width: 536px;
    height: 346px;
    border-radius: 0 0 0 300px;
    position: absolute;
    top: 25%;
    right: 0%;
}
                                                 /* parent container SECTION2 */

.section2header, .section3header, .section4header{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  padding-top: 15%;
}
#tab1, #tab2, #tab3 {
    border-bottom: 2px solid lightgray;
    padding: 2%;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 33.3%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(118, 118, 118) ;
    }
    .tab1, .tab2, .tab3 {
        position: relative;
        padding: 2%;
    }
    .tab1Img svg {
        width: auto;
        height: auto;
        left: 0%;
        z-index: 1;
    }
    .imageShadow2 {
        background-color:  hsl(231, 69%, 60%);
        width: 536px;
        height: 346px;
        border-radius: 0 0 300px 0;
        position: absolute;
        top: 20%;
        left: 0;
    }
    .tab1Img {
        width: 45%;
    }
    .tab1Text {
        width: 30%;
        position: relative;
        left:10%;

    }
    .tab1Img, .tab1Text {
        display: inline-block;
    }
    .tab2, .tab3 {
        display: none;
    }
/*.section3 {  

}*/
/*.section4 {

}*/
.section5 {
    background-color:hsl(231, 69%, 60%);
    color: white ;
}
.contact {
    background-color: hsl(0, 94%, 66%) ;
}
.section5 a, .nav2 a, .moreInfo a, .install a, #div1Button1 a{
    text-decoration: none;
    color: white;
}
footer {
    background-color: hsl(229, 31%, 21%);
    color: white;
}